{% extends 'baseLouay.html.twig' %}


{% block body %}

    <!-- CONTENT GRID -->
    <div class="content-grid">
        <!-- SECTION BANNER -->

        <div class="section-banner">
            <!-- SECTION BANNER ICON -->
            <img class="section-banner-icon" src="{{ asset('template/img/banner/events-icon.png') }}" alt="events-icon">
            <!-- /SECTION BANNER ICON -->

            <!-- SECTION BANNER TITLE -->
            <p class="section-banner-title">Compétitions</p>
            <!-- /SECTION BANNER TITLE -->

            <!-- SECTION BANNER TEXT -->
            <p class="section-banner-text">Ici vous pouvez créer et gérer vos Compétitions facillement !</p>
            <!-- /SECTION BANNER TEXT -->
        </div>
        <!-- /SECTION BANNER -->
    <br>
        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">Get a quick look!</p>
                <!-- /SECTION PRETITLE -->

                <!-- SECTION TITLE -->
                <h2 class="section-title">Events Calendar</h2>
                <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->

    <!-- GRID -->
    <div class="grid grid-2-10 centered" >

        <!-- CALENDAR WIDGET -->
        <div class="calendar-widget">
        </div>
        <!-- CALENDAR WIDGET -->
        <div class="calendar-widget">
            <!-- CALENDAR WIDGET HEADER -->
            <!-- CALENDAR -->
            <div class="calendar full">
                <br>
                {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
                <br>
            </div>
        </div>
        <!-- CALENDAR WIDGET -->
        <div class="calendar-widget">
        </div>


    </div>
    </div>
{% endblock %}