{% extends 'acceuilPage.html.twig' %}
{% block body %}





    <!-- LANDING -->



    <!-- NAVIGATION WRAP -->
    <div  style="background-image: url('/template/img/cover/28.jpg')" class="navigation-wrap">

        <!-- NAVIGATION -->
        <nav class="navigation grid-limit">
            <!-- LOGO -->

            <!-- /LOGO -->
            <style>

                #nav {

                    position : fixed;
                    padding: 0;
                    margin-left: 350px;

                    text-align: center; /* centrer le texte */
                }
                #nav li {

                    display: inline;
                    list-style: none;
                }
                #nav a {

                    display:inline-block;
                    margin: 0 10px;

                }



                .container {
                    width: 80%;
                    margin: 0 auto;
                    padding: 20px;
                    background: #f0e68c;
                }
            </style>

            <!-- MENU -->
            <ul  id="nav" class="menu">
                <!-- MENU ITEM -->
                <li  class="menu-item">
                    <!-- MENU ITEM LINK -->
                    <a  class="menu-item-link" href="#top">Home</a>
                    <!-- /MENU ITEM LINK -->
                </li>
                <!-- /MENU ITEM -->

                <!-- MENU ITEM -->
                <li class="menu-item">
                    <!-- MENU ITEM LINK -->
                    <a class="menu-item-link" href="#demos">Events</a>
                    <!-- /MENU ITEM LINK -->
                </li>
                <!-- /MENU ITEM -->

                <!-- MENU ITEM -->
                <li class="menu-item">
                    <!-- MENU ITEM LINK -->
                    <a class="menu-item-link" href="#features">Communication</a>
                    <!-- /MENU ITEM LINK -->
                </li>
                <!-- /MENU ITEM -->

                <!-- MENU ITEM -->
                <li class="menu-item">
                    <!-- MENU ITEM LINK -->
                    <a class="menu-item-link" href="#about" >About Us</a>
                    <!-- /MENU ITEM LINK -->
                </li>
                <!-- /MENU ITEM -->

                <!-- MENU ITEM -->
                <li class="menu-item">
                    <!-- MENU ITEM LINK -->
                    <p style="width: 160px;margin-left: 40px" class="profile-header-info-action button primary"><span class="hide-text-mobile">FREE</span> TRY</p>
                    <!-- /MENU ITEM LINK -->
                </li>
                <!-- /MENU ITEM -->
            </ul>


            <!-- /MENU -->

            <!-- BUTTON -->

            <!-- /BUTTON -->
        </nav>
        <!-- /NAVIGATION -->
    </div>



    <!-- /NAVIGATION WRAP -->
    <div style="background-image: url('/template/img/landing/landing-background.jpg')">


        <!-- BANNER WRAP -->
        <div  id="top" class="banner-wrap">
            <!-- BANNER -->
            <div style="margin-left: 200px" class="banner grid-limit">
                <!-- BANNER INFO -->

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


                <div class="banner-info">
                    <!-- BANNER IMAGE -->

                    <!-- BANNER IMAGE -->

                    <!-- /BANNER IMAGE -->
                    <p style="color: white;font-size:x-large;" class="banner-pretitle">Welcome To</p>
                    <!-- /BANNER PRETITLE -->

                    <!-- BANNER TITLE -->
                    <p style="color: white;font-size:80px;" class="banner-title">Tunisian Got Talent</p>
                    <!-- /BANNER TITLE -->

                    <!-- BANNER TEXT -->
                    <p style="color: white;font-size:x-large;" class="banner-text">The next generation social network &amp; community! Connect with your friends and show your performances to the world !</p>
                    <!-- /BANNER TEXT -->

                    <!-- TAB SWITCH BUTTON -->

                    <a style="width: 200px;margin-top: 60PX;margin-left: 430px;display:inline-block;" class="profile-header-info-action button primary"><span  class="hide-text-mobile">Join Us</span></a>
                    <!-- /TAB SWITCH BUTTON -->

                    <!-- BUTTON -->

                    <!-- /BUTTON -->
                </div>
                <!-- /BANNER INFO -->
            </div>
            <!-- /BANNER -->
        </div>
        <br>

        <br>
        <br>
        <br>
        <br>
        <br>



        <!-- /BANNER WRAP -->
        <!-- ARCHITECTURE ITEM LIST -->

        <!-- /ARCHITECTURE ITEM -->

        <!-- ARCHITECTURE ITEM -->

        <!-- /ARCHITECTURE ITEM -->

        <!-- /ARCHITECTURE ITEM LIST -->
        <h1 style="margin-left: 650px;color: white" class="section-title">Daily Events</h1>
        <!-- GRID -->
        <!-- GRID --> <br>
        <br>
        <br>
        <div id="demos" class="grid grid-3-3-3-3 centered">

            <!-- /SECTION HEADER -->

            <!-- GRID -->

            <!-- EVENT PREVIEW -->
            <div class="event-preview">
                <!-- EVENT PREVIEW COVER -->
                <figure class="event-preview-cover liquid">
                    <img src="/template/img/cover/47.jpg" alt="cover-47">
                </figure>
                <!-- /EVENT PREVIEW COVER -->

                <!-- EVENT PREVIEW INFO -->
                <div class="event-preview-info">
                    <!-- EVENT PREVIEW INFO TOP -->
                    <div class="event-preview-info-top">
                        <!-- DATE STICKER -->
                        <div class="date-sticker">
                            <!-- DATE STICKER DAY -->
                            <p class="date-sticker-day">13</p>
                            <!-- /DATE STICKER DAY -->

                            <!-- DATE STICKER MONTH -->
                            <p class="date-sticker-month">Aug</p>
                            <!-- /DATE STICKER MONTH -->
                        </div>
                        <!-- /DATE STICKER -->

                        <!-- EVENT PREVIEW TITLE -->
                        <p class="event-preview-title popup-event-information-trigger">Breakfast with Neko</p>
                        <!-- /EVENT PREVIEW TITLE -->

                        <!-- EVENT PREVIEW TIMESTAMP -->
                        <p class="event-preview-timestamp"><span class="bold">8:30</span> AM</p>
                        <!-- /EVENT PREVIEW TIMESTAMP -->

                        <!-- EVENT PREVIEW TEXT -->
                        <p class="event-preview-text">Hi Neko! I'm creating this event to invite you to have breakfast before work. Meet me at Coffebucks.</p>
                        <!-- /EVENT PREVIEW TEXT -->
                    </div>
                    <!-- /EVENT PREVIEW INFO TOP -->

                    <!-- EVENT PREVIEW INFO BOTTOM -->
                    <div class="event-preview-info-bottom">
                        <!-- DECORATED TEXT -->
                        <div class="decorated-text">
                            <!-- DECORATED TEXT ICON -->
                            <svg class="decorated-text-icon icon-pin">
                                <use xlink:href="#svg-pin"></use>
                            </svg>
                            <!-- /DECORATED TEXT ICON -->

                            <!-- DECORATED TEXT CONTENT -->
                            <p class="decorated-text-content">Downtown Coffeebucks</p>
                            <!-- /DECORATED TEXT CONTENT -->
                        </div>
                        <!-- /DECORATED TEXT -->

                        <!-- META LINE -->
                        <div class="meta-line">
                            <!-- META LINE LIST -->
                            <div class="meta-line-list user-avatar-list">
                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/05.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/01.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->
                            </div>
                            <!-- /META LINE LIST -->

                            <!-- META LINE TEXT -->
                            <p class="meta-line-text">will assist</p>
                            <!-- /META LINE TEXT -->
                        </div>
                        <!-- /META LINE -->

                        <!-- BUTTON -->

                        <!-- /BUTTON -->
                    </div>
                    <!-- /EVENT PREVIEW INFO BOTTOM -->
                </div>
                <!-- /EVENT PREVIEW INFO -->
            </div>
            <!-- /EVENT PREVIEW -->

            <!-- EVENT PREVIEW -->
            <div class="event-preview">
                <!-- EVENT PREVIEW COVER -->
                <figure class="event-preview-cover liquid">
                    <img src="/template/img/cover/23.jpg" alt="cover-23">
                </figure>
                <!-- /EVENT PREVIEW COVER -->

                <!-- EVENT PREVIEW INFO -->
                <div class="event-preview-info">
                    <!-- EVENT PREVIEW INFO TOP -->
                    <div class="event-preview-info-top">
                        <!-- DATE STICKER -->
                        <div class="date-sticker">
                            <!-- DATE STICKER DAY -->
                            <p class="date-sticker-day">13</p>
                            <!-- /DATE STICKER DAY -->

                            <!-- DATE STICKER MONTH -->
                            <p class="date-sticker-month">Aug</p>
                            <!-- /DATE STICKER MONTH -->
                        </div>
                        <!-- /DATE STICKER -->

                        <!-- EVENT PREVIEW TITLE -->
                        <p class="event-preview-title popup-event-information-trigger">Streaming Party</p>
                        <!-- /EVENT PREVIEW TITLE -->

                        <!-- EVENT PREVIEW TIMESTAMP -->
                        <p class="event-preview-timestamp"><span class="bold">10:00</span> PM - <span class="bold">11:30</span> PM</p>
                        <!-- /EVENT PREVIEW TIMESTAMP -->

                        <!-- EVENT PREVIEW TEXT -->
                        <p class="event-preview-text">The biggest party for Twitch streamers! Come and join us at Shenron Arena.</p>
                        <!-- /EVENT PREVIEW TEXT -->
                    </div>
                    <!-- /EVENT PREVIEW INFO TOP -->

                    <!-- EVENT PREVIEW INFO BOTTOM -->
                    <div class="event-preview-info-bottom">
                        <!-- DECORATED TEXT -->
                        <div class="decorated-text">
                            <!-- DECORATED TEXT ICON -->
                            <svg class="decorated-text-icon icon-pin">
                                <use xlink:href="#svg-pin"></use>
                            </svg>
                            <!-- /DECORATED TEXT ICON -->

                            <!-- DECORATED TEXT CONTENT -->
                            <p class="decorated-text-content">Shenron Arena</p>
                            <!-- /DECORATED TEXT CONTENT -->
                        </div>
                        <!-- /DECORATED TEXT -->

                        <!-- META LINE -->
                        <div class="meta-line">
                            <!-- META LINE LIST -->
                            <div class="meta-line-list user-avatar-list">
                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/09.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/08.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/12.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/16.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/06.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->
                            </div>
                            <!-- /META LINE LIST -->

                            <!-- META LINE TEXT -->
                            <p class="meta-line-text">+31 will assist</p>
                            <!-- /META LINE TEXT -->
                        </div>
                        <!-- /META LINE -->

                        <!-- BUTTON -->

                        <!-- /BUTTON -->
                    </div>
                    <!-- /EVENT PREVIEW INFO BOTTOM -->
                </div>
                <!-- /EVENT PREVIEW INFO -->
            </div>
            <!-- /EVENT PREVIEW -->

            <!-- EVENT PREVIEW -->
            <div class="event-preview">
                <!-- EVENT PREVIEW COVER -->
                <figure class="event-preview-cover liquid">
                    <img src="/template/img/cover/33.jpg" alt="cover-33">
                </figure>
                <!-- /EVENT PREVIEW COVER -->

                <!-- EVENT PREVIEW INFO -->
                <div class="event-preview-info">
                    <!-- EVENT PREVIEW INFO TOP -->
                    <div class="event-preview-info-top">
                        <!-- DATE STICKER -->
                        <div class="date-sticker">
                            <!-- DATE STICKER DAY -->
                            <p class="date-sticker-day">26</p>
                            <!-- /DATE STICKER DAY -->

                            <!-- DATE STICKER MONTH -->
                            <p class="date-sticker-month">Aug</p>
                            <!-- /DATE STICKER MONTH -->
                        </div>
                        <!-- /DATE STICKER -->

                        <!-- EVENT PREVIEW TITLE -->
                        <p class="event-preview-title popup-event-information-trigger">CosWorld 2019 After Party</p>
                        <!-- /EVENT PREVIEW TITLE -->

                        <!-- EVENT PREVIEW TIMESTAMP -->
                        <p class="event-preview-timestamp"><span class="bold">11:00</span> PM</p>
                        <!-- /EVENT PREVIEW TIMESTAMP -->

                        <!-- EVENT PREVIEW TEXT -->
                        <p class="event-preview-text">Join us at the CosWorld after party! We'll be eating, drinking and having a great time exchanging experiences...</p>
                        <!-- /EVENT PREVIEW TEXT -->
                    </div>
                    <!-- /EVENT PREVIEW INFO TOP -->

                    <!-- EVENT PREVIEW INFO BOTTOM -->
                    <div class="event-preview-info-bottom">
                        <!-- DECORATED TEXT -->
                        <div class="decorated-text">
                            <!-- DECORATED TEXT ICON -->
                            <svg class="decorated-text-icon icon-pin">
                                <use xlink:href="#svg-pin"></use>
                            </svg>
                            <!-- /DECORATED TEXT ICON -->

                            <!-- DECORATED TEXT CONTENT -->
                            <p class="decorated-text-content">CosWorld Arena</p>
                            <!-- /DECORATED TEXT CONTENT -->
                        </div>
                        <!-- /DECORATED TEXT -->

                        <!-- META LINE -->
                        <div class="meta-line">
                            <!-- META LINE LIST -->
                            <div class="meta-line-list user-avatar-list">
                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/06.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/07.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/02.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/10.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/05.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->
                            </div>
                            <!-- /META LINE LIST -->

                            <!-- META LINE TEXT -->
                            <p class="meta-line-text">+24 will assist</p>
                            <!-- /META LINE TEXT -->
                        </div>
                        <!-- /META LINE -->

                        <!-- BUTTON -->

                        <!-- /BUTTON -->
                    </div>
                    <!-- /EVENT PREVIEW INFO BOTTOM -->
                </div>
                <!-- /EVENT PREVIEW INFO -->
            </div>
            <!-- /EVENT PREVIEW -->

            <!-- EVENT PREVIEW -->
            <div class="event-preview">
                <!-- EVENT PREVIEW COVER -->
                <figure class="event-preview-cover liquid">
                    <img src="/template/img/cover/40.jpg" alt="cover-40">
                </figure>
                <!-- /EVENT PREVIEW COVER -->

                <!-- EVENT PREVIEW INFO -->
                <div class="event-preview-info">
                    <!-- EVENT PREVIEW INFO TOP -->
                    <div class="event-preview-info-top">
                        <!-- DATE STICKER -->
                        <div class="date-sticker">
                            <!-- DATE STICKER DAY -->
                            <p class="date-sticker-day">9</p>
                            <!-- /DATE STICKER DAY -->

                            <!-- DATE STICKER MONTH -->
                            <p class="date-sticker-month">Sep</p>
                            <!-- /DATE STICKER MONTH -->
                        </div>
                        <!-- /DATE STICKER -->

                        <!-- EVENT PREVIEW TITLE -->
                        <p class="event-preview-title popup-event-information-trigger">Artistic Painting Course</p>
                        <!-- /EVENT PREVIEW TITLE -->

                        <!-- EVENT PREVIEW TIMESTAMP -->
                        <p class="event-preview-timestamp"><span class="bold">6:00</span> PM</p>
                        <!-- /EVENT PREVIEW TIMESTAMP -->

                        <!-- EVENT PREVIEW TEXT -->
                        <p class="event-preview-text">Come to have a great time with us at our artistic painting course! Begginers and experts welcome!</p>
                        <!-- /EVENT PREVIEW TEXT -->
                    </div>
                    <!-- /EVENT PREVIEW INFO TOP -->

                    <!-- EVENT PREVIEW INFO BOTTOM -->
                    <div class="event-preview-info-bottom">
                        <!-- DECORATED TEXT -->
                        <div class="decorated-text">
                            <!-- DECORATED TEXT ICON -->
                            <svg class="decorated-text-icon icon-pin">
                                <use xlink:href="#svg-pin"></use>
                            </svg>
                            <!-- /DECORATED TEXT ICON -->

                            <!-- DECORATED TEXT CONTENT -->
                            <p class="decorated-text-content">Xavier's Art Center</p>
                            <!-- /DECORATED TEXT CONTENT -->
                        </div>
                        <!-- /DECORATED TEXT -->

                        <!-- META LINE -->
                        <div class="meta-line">
                            <!-- META LINE LIST -->
                            <div class="meta-line-list user-avatar-list">
                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/13.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/12.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/11.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/03.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->

                                <!-- USER AVATAR -->
                                <div class="user-avatar micro no-stats">
                                    <!-- USER AVATAR BORDER -->
                                    <div class="user-avatar-border">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-22-24"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR BORDER -->

                                    <!-- USER AVATAR CONTENT -->
                                    <div class="user-avatar-content">
                                        <!-- HEXAGON -->
                                        <div class="hexagon-image-18-20" data-src="/template/img/avatar/04.jpg"></div>
                                        <!-- /HEXAGON -->
                                    </div>
                                    <!-- /USER AVATAR CONTENT -->
                                </div>
                                <!-- /USER AVATAR -->
                            </div>
                            <!-- /META LINE LIST -->

                            <!-- META LINE TEXT -->
                            <p class="meta-line-text">+17 will assist</p>
                            <!-- /META LINE TEXT -->
                        </div>
                        <!-- /META LINE -->

                        <!-- BUTTON -->

                        <!-- /BUTTON -->
                    </div>
                    <!-- /EVENT PREVIEW INFO BOTTOM -->
                </div>
                <!-- /EVENT PREVIEW INFO -->
            </div>
            <!-- /EVENT PREVIEW -->










            <!-- EVENT PREVIEW -->
        </div>
        <br>
        <br>
        <br>
        <br>

    </div>
    <br>
    <br>
    <br>

    <!-- SECTION WRAP -->
    <h1 style="margin-left: 590px" class="section-title">Articles of the Week</h1>
    <br>
    <br>

    <div id="features" class="grid grid-4-4-4 centered">
        <!-- POST PREVIEW -->
        <div class="post-preview">
            <!-- POST PREVIEW IMAGE -->
            <figure class="post-preview-image liquid">
                <img src="/template/img/cover/19.jpg" alt="cover-19">
            </figure>
            <!-- /POST PREVIEW IMAGE -->

            <!-- POST PREVIEW INFO -->
            <div class="post-preview-info fixed-height">
                <!-- POST PREVIEW INFO TOP -->
                <div class="post-preview-info-top">
                    <!-- POST PREVIEW TIMESTAMP -->
                    <p class="post-preview-timestamp">2 days ago</p>
                    <!-- /POST PREVIEW TIMESTAMP -->

                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">Here's the how and why did I became a full time Gaming Streamer</p>
                    <!-- /POST PREVIEW TITLE -->
                </div>
                <!-- /POST PREVIEW INFO TOP -->

                <!-- POST PREVIEW INFO BOTTOM -->
                <div class="post-preview-info-bottom">
                    <!-- POST PREVIEW TEXT -->
                    <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</p>
                    <!-- /POST PREVIEW TEXT -->

                    <!-- POST PREVIEW LINK -->
                    <a class="post-preview-link" href="profile-post.html">Read more...</a>
                    <!-- /POST PREVIEW LINK -->
                </div>
                <!-- /POST PREVIEW INFO BOTTOM -->
            </div>
            <!-- /POST PREVIEW INFO -->

            <!-- CONTENT ACTIONS -->
            <div class="content-actions">
                <!-- CONTENT ACTION -->
                <div class="content-action">
                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE LIST -->
                        <div class="meta-line-list reaction-item-list">
                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img class="reaction-image reaction-item-dropdown-trigger" src="/template/img/reaction/wow.png" alt="reaction-wow">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img class="reaction" src="/template/img/reaction/wow.png" alt="reaction-wow"> <span class="bold">Wow</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Neko Bebop</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Nick Grissom</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Sarah Diamond</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Marcus Jhonson</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->

                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img class="reaction-image reaction-item-dropdown-trigger" src="/template/img/reaction/happy.png" alt="reaction-happy">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img class="reaction" src="/template/img/reaction/happy.png" alt="reaction-happy"> <span class="bold">Happy</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jett Spiegel</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jane Rodgers</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->

                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img class="reaction-image reaction-item-dropdown-trigger" src="/template/img/reaction/like.png" alt="reaction-like">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img class="reaction" src="/template/img/reaction/like.png" alt="reaction-like"> <span class="bold">Like</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Neko Bebop</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Nick Grissom</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Sarah Diamond</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jett Spiegel</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Marcus Jhonson</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jane Rodgers</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><span class="bold">and 7 more...</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->
                        </div>
                        <!-- /REACTION ITEM LIST -->

                        <!-- META LINE TEXT -->
                        <p class="meta-line-text">19</p>
                        <!-- /META LINE TEXT -->
                    </div>
                    <!-- /META LINE -->
                </div>
                <!-- /CONTENT ACTION -->

                <!-- CONTENT ACTION -->
                <div class="content-action">
                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE LINK -->
                        <a class="meta-line-link" href="profile-post.html#comments">5 Comments</a>
                        <!-- /META LINE LINK -->
                    </div>
                    <!-- /META LINE -->

                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE TEXT -->
                        <p class="meta-line-text">0 Shares</p>
                        <!-- /META LINE TEXT -->
                    </div>
                    <!-- /META LINE -->
                </div>
                <!-- /CONTENT ACTION -->
            </div>
            <!-- /CONTENT ACTIONS -->
        </div>
        <!-- /POST PREVIEW -->

        <!-- POST PREVIEW -->
        <div class="post-preview">
            <!-- POST PREVIEW IMAGE -->
            <figure class="post-preview-image liquid">
                <img src="/template/img/cover/10.jpg" alt="cover-10">
            </figure>
            <!-- /POST PREVIEW IMAGE -->

            <!-- POST PREVIEW INFO -->
            <div class="post-preview-info fixed-height">
                <!-- POST PREVIEW INFO TOP -->
                <div class="post-preview-info-top">
                    <!-- POST PREVIEW TIMESTAMP -->
                    <p class="post-preview-timestamp">3 weeks ago</p>
                    <!-- /POST PREVIEW TIMESTAMP -->

                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">I spoke with the developers of RoBot SaMurai II at the 2019 GamingCon</p>
                    <!-- /POST PREVIEW TITLE -->
                </div>
                <!-- /POST PREVIEW INFO TOP -->

                <!-- POST PREVIEW INFO BOTTOM -->
                <div class="post-preview-info-bottom">
                    <!-- POST PREVIEW TEXT -->
                    <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</p>
                    <!-- /POST PREVIEW TEXT -->

                    <!-- POST PREVIEW LINK -->
                    <a class="post-preview-link" href="profile-post.html">Read more...</a>
                    <!-- /POST PREVIEW LINK -->
                </div>
                <!-- /POST PREVIEW INFO BOTTOM -->
            </div>
            <!-- /POST PREVIEW INFO -->

            <!-- CONTENT ACTIONS -->
            <div class="content-actions">
                <!-- CONTENT ACTION -->
                <div class="content-action">
                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE LIST -->
                        <div class="meta-line-list reaction-item-list">
                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img class="reaction-image reaction-item-dropdown-trigger" src="/template/img/reaction/happy.png" alt="reaction-happy">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img class="reaction" src="/template/img/reaction/happy.png" alt="reaction-happy"> <span class="bold">Happy</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Neko Bebop</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Nick Grissom</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Sarah Diamond</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Marcus Jhonson</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->

                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img class="reaction-image reaction-item-dropdown-trigger" src="/template/img/reaction/love.png" alt="reaction-love">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img class="reaction" src="/template/img/reaction/love.png" alt="reaction-love"> <span class="bold">Love</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jett Spiegel</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jane Rodgers</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->

                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img class="reaction-image reaction-item-dropdown-trigger" src="/template/img/reaction/funny.png" alt="reaction-funny">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img class="reaction" src="/template/img/reaction/funny.png" alt="reaction-funny"> <span class="bold">Funny</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Neko Bebop</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Nick Grissom</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Sarah Diamond</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jett Spiegel</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Marcus Jhonson</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jane Rodgers</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><span class="bold">and 10 more...</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->
                        </div>
                        <!-- /REACTION ITEM LIST -->

                        <!-- META LINE TEXT -->
                        <p class="meta-line-text">21</p>
                        <!-- /META LINE TEXT -->
                    </div>
                    <!-- /META LINE -->
                </div>
                <!-- /CONTENT ACTION -->

                <!-- CONTENT ACTION -->
                <div class="content-action">
                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE LINK -->
                        <a class="meta-line-link" href="profile-post.html#comments">8 Comments</a>
                        <!-- /META LINE LINK -->
                    </div>
                    <!-- /META LINE -->

                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE TEXT -->
                        <p class="meta-line-text">0 Shares</p>
                        <!-- /META LINE TEXT -->
                    </div>
                    <!-- /META LINE -->
                </div>
                <!-- /CONTENT ACTION -->
            </div>
            <!-- /CONTENT ACTIONS -->
        </div>
        <!-- /POST PREVIEW -->

        <!-- POST PREVIEW -->
        <div class="post-preview">
            <!-- POST PREVIEW IMAGE -->
            <figure class="post-preview-image liquid">
                <img src="/template/img/cover/20.jpg" alt="cover-20">
            </figure>
            <!-- /POST PREVIEW IMAGE -->

            <!-- POST PREVIEW INFO -->
            <div class="post-preview-info fixed-height">
                <!-- POST PREVIEW INFO TOP -->
                <div class="post-preview-info-top">
                    <!-- POST PREVIEW TIMESTAMP -->
                    <p class="post-preview-timestamp">4 weeks ago</p>
                    <!-- /POST PREVIEW TIMESTAMP -->

                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">I will be at this month's StreamCon with NekoBebop</p>
                    <!-- /POST PREVIEW TITLE -->
                </div>
                <!-- /POST PREVIEW INFO TOP -->

                <!-- POST PREVIEW INFO BOTTOM -->
                <div class="post-preview-info-bottom">
                    <!-- POST PREVIEW TEXT -->
                    <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</p>
                    <!-- /POST PREVIEW TEXT -->

                    <!-- POST PREVIEW LINK -->
                    <a class="post-preview-link" href="profile-post.html">Read more...</a>
                    <!-- /POST PREVIEW LINK -->
                </div>
                <!-- /POST PREVIEW INFO BOTTOM -->
            </div>
            <!-- /POST PREVIEW INFO -->

            <!-- CONTENT ACTIONS -->
            <div class="content-actions">
                <!-- CONTENT ACTION -->
                <div class="content-action">
                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE LIST -->
                        <div class="meta-line-list reaction-item-list">
                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img class="reaction-image reaction-item-dropdown-trigger" src="/template/img/reaction/happy.png" alt="reaction-happy">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img class="reaction" src="/template/img/reaction/happy.png" alt="reaction-happy"> <span class="bold">Happy</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Neko Bebop</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Nick Grissom</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Sarah Diamond</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Marcus Jhonson</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->

                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img class="reaction-image reaction-item-dropdown-trigger" src="/template/img/reaction/love.png" alt="reaction-love">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img class="reaction" src="/template/img/reaction/love.png" alt="reaction-love"> <span class="bold">Love</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jett Spiegel</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Jane Rodgers</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->

                            <!-- REACTION ITEM -->
                            <div class="reaction-item">
                                <!-- REACTION IMAGE -->
                                <img class="reaction-image reaction-item-dropdown-trigger" src="/template/img/reaction/like.png" alt="reaction-like">
                                <!-- /REACTION IMAGE -->

                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown padded reaction-item-dropdown">
                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text"><img class="reaction" src="/template/img/reaction/like.png" alt="reaction-like"> <span class="bold">Like</span></p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Neko Bebop</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->

                                    <!-- SIMPLE DROPDOWN TEXT -->
                                    <p class="simple-dropdown-text">Nick Grissom</p>
                                    <!-- /SIMPLE DROPDOWN TEXT -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /REACTION ITEM -->
                        </div>
                        <!-- /REACTION ITEM LIST -->

                        <!-- META LINE TEXT -->
                        <p class="meta-line-text">8</p>
                        <!-- /META LINE TEXT -->
                    </div>
                    <!-- /META LINE -->
                </div>
                <!-- /CONTENT ACTION -->

                <!-- CONTENT ACTION -->
                <div class="content-action">
                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE LINK -->
                        <a class="meta-line-link" href="profile-post.html#comments">2 Comments</a>
                        <!-- /META LINE LINK -->
                    </div>
                    <!-- /META LINE -->

                    <!-- META LINE -->
                    <div class="meta-line">
                        <!-- META LINE TEXT -->
                        <p class="meta-line-text">0 Shares</p>
                        <!-- /META LINE TEXT -->
                    </div>
                    <!-- /META LINE -->
                </div>
                <!-- /CONTENT ACTION -->
            </div>
            <!-- /CONTENT ACTIONS -->
        </div>
        <!-- /POST PREVIEW -->

        <!-- POST PREVIEW -->

        <!-- /POST PREVIEW -->

        <!-- POST PREVIEW -->

        <!-- /POST PREVIEW -->
    </div>
    <br>
    <br>
    <br>

    <!-- SECTION WRAP -->
    <h1 style="margin-left: 590px" class="section-title">Our Statics This Year</h1>



    <div style="padding: 100px;" id="about" class="grid grid-3-9 stretched">
        <!-- GRID COLUMN -->
        <div class="grid-column">
            <!-- WIDGET BOX -->
            <div class="widget-box">
                <!-- WIDGET BOX TITLE -->
                <p style="color: #23d2e2" class="widget-box-title">Visits Top Countries</p>
                <!-- /WIDGET BOX TITLE -->

                <!-- WIDGET BOX CONTENT -->
                <div class="widget-box-content">
                    <!-- COUNTRY STAT LIST -->
                    <div class="country-stat-list">
                        <!-- COUNTRY STAT -->
                        <div class="country-stat with-progress">
                            <!-- COUNTRY STAT IMAGE -->
                            <img class="country-stat-image" src="/template/img/flag/usa.png" alt="flag-usa">
                            <!-- /COUNTRY STAT IMAGE -->

                            <!-- PROGRESS STAT -->
                            <div class="progress-stat small">
                                <!-- BAR PROGRESS WRAP -->
                                <div class="bar-progress-wrap">
                                    <!-- BAR PROGRESS INFO -->
                                    <p class="bar-progress-info medium negative regular">United States<span class="bar-progress-text no-space"></span></p>
                                    <!-- /BAR PROGRESS INFO -->
                                </div>
                                <!-- /BAR PROGRESS WRAP -->

                                <!-- PROGRESS STAT BAR -->
                                <div id="top-country-1" class="progress-stat-bar"></div>
                                <!-- /PROGRESS STAT BAR -->
                            </div>
                            <!-- /PROGRESS STAT -->
                        </div>
                        <!-- /COUNTRY STAT -->

                        <!-- COUNTRY STAT -->
                        <div class="country-stat with-progress">
                            <!-- COUNTRY STAT IMAGE -->
                            <img class="country-stat-image" src="/template/img/flag/india.png" alt="flag-india">
                            <!-- /COUNTRY STAT IMAGE -->

                            <!-- PROGRESS STAT -->
                            <div class="progress-stat small">
                                <!-- BAR PROGRESS WRAP -->
                                <div class="bar-progress-wrap">
                                    <!-- BAR PROGRESS INFO -->
                                    <p class="bar-progress-info medium negative regular">India<span class="bar-progress-text no-space"></span></p>
                                    <!-- /BAR PROGRESS INFO -->
                                </div>
                                <!-- /BAR PROGRESS WRAP -->

                                <!-- PROGRESS STAT BAR -->
                                <div id="top-country-2" class="progress-stat-bar"></div>
                                <!-- /PROGRESS STAT BAR -->
                            </div>
                            <!-- /PROGRESS STAT -->
                        </div>
                        <!-- /COUNTRY STAT -->

                        <!-- COUNTRY STAT -->
                        <div class="country-stat with-progress">
                            <!-- COUNTRY STAT IMAGE -->
                            <img class="country-stat-image" src="/template/img/flag/brazil.png" alt="flag-brazil">
                            <!-- /COUNTRY STAT IMAGE -->

                            <!-- PROGRESS STAT -->
                            <div class="progress-stat small">
                                <!-- BAR PROGRESS WRAP -->
                                <div class="bar-progress-wrap">
                                    <!-- BAR PROGRESS INFO -->
                                    <p class="bar-progress-info medium negative regular">Brazil<span class="bar-progress-text no-space"></span></p>
                                    <!-- /BAR PROGRESS INFO -->
                                </div>
                                <!-- /BAR PROGRESS WRAP -->

                                <!-- PROGRESS STAT BAR -->
                                <div id="top-country-3" class="progress-stat-bar"></div>
                                <!-- /PROGRESS STAT BAR -->
                            </div>
                            <!-- /PROGRESS STAT -->
                        </div>
                        <!-- /COUNTRY STAT -->

                        <!-- COUNTRY STAT -->
                        <div class="country-stat">
                            <!-- COUNTRY STAT IMAGE -->
                            <img class="country-stat-image" src="/template/img/flag/canada.png" alt="flag-canada">
                            <!-- /COUNTRY STAT IMAGE -->

                            <!-- COUNTRY STAT TITLE -->
                            <p class="country-stat-title">Canada</p>
                            <!-- /COUNTRY STAT TITLE -->

                            <!-- COUNTRY STAT TEXT -->
                            <p class="country-stat-text">8.922</p>
                            <!-- /COUNTRY STAT TEXT -->
                        </div>
                        <!-- /COUNTRY STAT -->

                        <!-- COUNTRY STAT -->
                        <div class="country-stat">
                            <!-- COUNTRY STAT IMAGE -->
                            <img class="country-stat-image" src="/template/img/flag/russia.png" alt="flag-russia">
                            <!-- /COUNTRY STAT IMAGE -->

                            <!-- COUNTRY STAT TITLE -->
                            <p class="country-stat-title">Russia</p>
                            <!-- /COUNTRY STAT TITLE -->

                            <!-- COUNTRY STAT TEXT -->
                            <p class="country-stat-text">6.303</p>
                            <!-- /COUNTRY STAT TEXT -->
                        </div>
                        <!-- /COUNTRY STAT -->

                        <!-- COUNTRY STAT -->
                        <div class="country-stat">
                            <!-- COUNTRY STAT IMAGE -->
                            <img class="country-stat-image" src="/template/img/flag/turkey.png" alt="flag-turkey">
                            <!-- /COUNTRY STAT IMAGE -->

                            <!-- COUNTRY STAT TITLE -->
                            <p class="country-stat-title">Turkey</p>
                            <!-- /COUNTRY STAT TITLE -->

                            <!-- COUNTRY STAT TEXT -->
                            <p class="country-stat-text">6.278</p>
                            <!-- /COUNTRY STAT TEXT -->
                        </div>
                        <!-- /COUNTRY STAT -->

                        <!-- COUNTRY STAT -->
                        <div class="country-stat">
                            <!-- COUNTRY STAT IMAGE -->
                            <img class="country-stat-image" src="/template/img/flag/france.png" alt="flag-france">
                            <!-- /COUNTRY STAT IMAGE -->

                            <!-- COUNTRY STAT TITLE -->
                            <p class="country-stat-title">France</p>
                            <!-- /COUNTRY STAT TITLE -->

                            <!-- COUNTRY STAT TEXT -->
                            <p class="country-stat-text">4.520</p>
                            <!-- /COUNTRY STAT TEXT -->
                        </div>
                        <!-- /COUNTRY STAT -->

                        <!-- COUNTRY STAT -->
                        <div class="country-stat">
                            <!-- COUNTRY STAT IMAGE -->
                            <img class="country-stat-image" src="/template/img/flag/germany.png" alt="flag-germany">
                            <!-- /COUNTRY STAT IMAGE -->

                            <!-- COUNTRY STAT TITLE -->
                            <p class="country-stat-title">Germany</p>
                            <!-- /COUNTRY STAT TITLE -->

                            <!-- COUNTRY STAT TEXT -->
                            <p class="country-stat-text">3.225</p>
                            <!-- /COUNTRY STAT TEXT -->
                        </div>
                        <!-- /COUNTRY STAT -->

                        <!-- COUNTRY STAT -->
                        <div class="country-stat">
                            <!-- COUNTRY STAT IMAGE -->
                            <img class="country-stat-image" src="/template/img/flag/argentina.png" alt="flag-argentina">
                            <!-- /COUNTRY STAT IMAGE -->

                            <!-- COUNTRY STAT TITLE -->
                            <p class="country-stat-title">Argentina</p>
                            <!-- /COUNTRY STAT TITLE -->

                            <!-- COUNTRY STAT TEXT -->
                            <p class="country-stat-text">1.744</p>
                            <!-- /COUNTRY STAT TEXT -->
                        </div>
                        <!-- /COUNTRY STAT -->
                    </div>
                    <!-- /COUNTRY STAT LIST -->
                </div>
                <!-- WIDGET BOX CONTENT -->
            </div>
            <!-- /WIDGET BOX -->
        </div>
        <!-- /GRID COLUMN -->

        <!-- GRID COLUMN -->
        <div class="grid-column">
            <!-- WIDGET BOX -->
            <div class="widget-box">
                <!-- WIDGET BOX ACTIONS -->
                <div class="widget-box-actions">
                    <!-- WIDGET BOX ACTION -->
                    <div class="widget-box-action">
                        <!-- WIDGET BOX TITLE -->
                        <p style="color: #23d2e2" class="widget-box-title">Visits World Map</p>
                        <!-- /WIDGET BOX TITLE -->
                    </div>
                    <!-- /WIDGET BOX ACTION -->

                    <!-- WIDGET BOX ACTION -->
                    <div class="widget-box-action">
                        <!-- FORM SELECT -->
                        <div class="form-select v2">
                            <select id="visits-map-date" name="visits_map_date">
                                <option value="0">September 2019</option>
                                <option value="1">November 2019</option>
                            </select>
                            <!-- FORM SELECT ICON -->
                            <svg class="form-select-icon icon-small-arrow">
                                <use xlink:href="#svg-small-arrow"></use>
                            </svg>
                            <!-- /FORM SELECT ICON -->
                        </div>
                        <!-- /FORM SELECT -->
                    </div>
                    <!-- /WIDGET BOX ACTION -->
                </div>
                <!-- /WIDGET BOX ACTIONS -->

                <!-- WIDGET BOX CONTENT -->
                <div class="widget-box-content">
                    <!-- FULL WIDTH IMAGE -->
                    <img class="full-width-image" src="/template/img/flag/map.png" alt="map">
                    <!-- /FULL WIDTH IMAGE -->
                </div>
                <!-- WIDGET BOX CONTENT -->
            </div>
            <!-- /WIDGET BOX -->
        </div>
        <!-- /GRID COLUMN -->
    </div>
    <div style="padding: 200px" class="widget-box">
        <!-- WIDGET BOX ACTIONS -->
        <div class="widget-box-actions">
            <!-- WIDGET BOX ACTION -->
            <div class="widget-box-action">
                <!-- WIDGET BOX TITLE -->
                <p style="color: #23d2e2" class="widget-box-title">Yearly Report</p>
                <!-- /WIDGET BOX TITLE -->
            </div>
            <!-- /WIDGET BOX ACTION -->

            <!-- WIDGET BOX ACTION -->
            <div class="widget-box-action">
                <!-- REFERENCE ITEM LIST -->
                <div class="reference-item-list">
                    <!-- REFERENCE ITEM -->
                    <div class="reference-item">
                        <!-- REFERENCE BULLET -->
                        <div class="reference-bullet primary"></div>
                        <!-- REFERENCE BULLET -->

                        <!-- REFERENCE ITEM TEXT -->
                        <p class="reference-item-text">Reactions</p>
                        <!-- /REFERENCE ITEM TEXT -->
                    </div>
                    <!-- /REFERENCE ITEM -->

                    <!-- REFERENCE ITEM -->
                    <div class="reference-item">
                        <!-- REFERENCE BULLET -->
                        <div class="reference-bullet blue"></div>
                        <!-- REFERENCE BULLET -->

                        <!-- REFERENCE ITEM TEXT -->
                        <p class="reference-item-text">Comments</p>
                        <!-- /REFERENCE ITEM TEXT -->
                    </div>
                    <!-- /REFERENCE ITEM -->
                </div>
                <!-- /REFERENCE ITEM LIST -->

                <!-- FORM SELECT -->
                <div class="form-select v2">
                    <select id="rc-yearly-report-date" name="rc_yearly_report_date">
                        <option value="0">Jan - Dec 2018</option>
                        <option value="1">Jan - Dec 2019</option>
                    </select>
                    <!-- FORM SELECT ICON -->
                    <svg class="form-select-icon icon-small-arrow">
                        <use xlink:href="#svg-small-arrow"></use>
                    </svg>
                    <!-- /FORM SELECT ICON -->
                </div>
                <!-- /FORM SELECT -->
            </div>
            <!-- /WIDGET BOX ACTION -->
        </div>
        <!-- /WIDGET BOX ACTIONS -->

        <!-- WIDGET BOX CONTENT -->
        <div class="widget-box-content">
            <!-- CHART WRAP -->
            <div class="chart-wrap">
                <!-- CHART -->
                <div class="chart">
                    <canvas id="rc-yearly-report-chart"></canvas>
                </div>
                <!-- /CHART -->
            </div>
            <!-- /CHART WRAP -->
        </div>
        <!-- WIDGET BOX CONTENT -->
    </div>
    <!-- /GRID -->

    <!-- /SECTION WRAP -->

    <!-- SECTION WRAP -->

    <!-- /SECTION WRAP -->


    <!-- app -->

{% endblock %}
